%h1 관리자 로그인

= form_tag sessions_path do
  .field
    = label_tag :id
    %br
    = text_field_tag :id, params[:id]
  .field
    = label_tag :password
    %br
    = password_field_tag :password
  .actions
    = submit_tag "로그인"
