#scatch_wrapp
  = image_tag "scatch1.jpg"
  .oneline 7월 5일 드디어 양재 키즈파크가 오픈했습니다!
  .oneline 오픈 첫날부터 많은 아이들이 즐겁게 놀다간 양재 키즈파크
  .oneline 그 생생한 현장을 소개합니다!!
  = image_tag "scatch2.jpg"
  .oneline aT센터 안에 들어가자마자 키즈파크 입구가 보입니다!
  = image_tag "scatch3.jpg"
  .oneline 표를 끊고 안으로 들어가면 보관함이 나옵니다!
  .oneline 짐을 가지고 오신분들은 보관함을 이용하면 편리하겠죠^^
  = image_tag "scatch4.jpg"
  .oneline 아이들이 좋아하는 만화 캐릭터들이 곳곳에 등장합니다! 우선 도라에몽!
  = image_tag "scatch5.jpg"
  .oneline 키티 에어바운스도 있네요~
  = image_tag "scatch6.jpg"
  .oneline 토끼 슬라이딩! 미끄럼틀 에어바운스 중에서는 그래도 카파르지 않은 편이랍니다 ^^
  = image_tag "scatch7.jpg"
  .oneline 해적선 슬라이딩이에요!
  = image_tag "scatch8.jpg"
  .oneline 시티 에어바운스! 꼬마아가씨가 원을 통과하면서 놀고 있네요 ^^
  = image_tag "scatch9.jpg"
  .oneline 해적선 에어바운스입니다! 
  = image_tag "scatch10.jpg"
  = image_tag "scatch11.jpg"
  .oneline 꼬마 친구들에게 굉장히 인기가 많은 대형 곰돌이 에어바운스입니다!
  = image_tag "scatch12.jpg"
  .oneline 역시 인기가 많은 볼풀이에요! 여기서 놀면 시간 가는줄 모른답니다!
  = image_tag "scatch13.jpg"
  .oneline 가파른 에어 슬라이드는 안전요원들이 도와준답니다!
  = image_tag "scatch14.jpg"
  .oneline 에어 슬라이의 경사! 꼬마친구들이 완전 좋아해요!
  = image_tag "scatch15.jpg"
  .oneline 여기저기 장애물들이 설치되서 뛰어놀기 좋아요~
  = image_tag "scatch16.jpg"
  .oneline 놀이공원에 있는 우주비행선 기구도 있답니다!
  = image_tag "scatch17.jpg"
  .oneline 아이들이 좋아하는 다양한 장난감이 있는 키즈파크 SHOP이에요~ 
  = image_tag "scatch18.jpg"
  .oneline 다양한 만화 캐릭터를 뽑을 수 있는 뽑기들!
  = image_tag "scatch19.jpg"
  = image_tag "scatch20.jpg"
  .oneline 동물 장난감부터 물총까지! 다양한 장난감들이 있어요!
  = image_tag "scatch21.jpg"
  .oneline 아이들 기념티셔츠와 가방등도 있어요^^ 
  = image_tag "scatch22.jpg"
  .oneline 기다리시는 부모님들을 위한 카페도 있답니다!
  = image_tag "scatch23.jpg"
  .oneline 카페엔 커피와 주스, 간단한 먹을 거리가 준비되어 있어요 ^^
  .oneline
  .oneline 이상 키즈파크의 현장 스케치였습니다!
  .oneline 더운 여름 아이와 함께 양재 키즈파크로 놀러오세요^^
